venv/
.venv/
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd

.env
.env.*
!.env.example

logs/
uploads/
tests/
reference/

*.md
.git/
.gitignore
.pytest_cache/
.mypy_cache/
.ruff_cache/

mermaiddiagram.txt
models.txt

# Render-specific
render.yaml
